In [2]:
import pandas as pd

In [9]:
df=pd.read_csv("E:\\web scapping\\mvpdata.csv")
df

,PLAYER,Team,TI,Runs,I. Runs,B. Impact,Bowl,I. Wkts,Bo. Impact
0,Ruturaj Gaikwad,CSK,140.19,92(50),114.2,140.19,-,-,0
1,Rajvardhan Hangargekar,CSK,90.44,-,-,0,3/36,4.58,90.44
2,Shubman Gill,GT,89.10,63(36),76.67,89.1,-,-,0
3,Rashid Khan,GT,83.35,10(3),15.98,22.91,2/26,2.44,60.44
4,Mohammed Shami,GT,65.21,-,-,0,2/29,2.75,65.21
...,...,...,...,...,...,...,...,...,...
809,Ajinkya Rahane,CSK,33.12,27(13),29.55,33.12,-,-,0
810,Matheesha Pathirana,CSK,33.00,-,-,0,2/44,0.98,33
811,Deepak Chahar,CSK,29.62,-,-,0,1/38,0.86,29.62
812,Ambati Rayudu,CSK,26.06,19(8),21.42,26.06,-,-,0
813,Maheesh Theekshana,CSK,25.16,-,-,0,0/36,-,25.16

In [14]:
df['Team'].unique

<bound method Series.unique of 0      CSK
1      CSK
2       GT
3       GT
4       GT
      ...
809    CSK
810    CSK
811    CSK
812    CSK
813    CSK
Name: Team, Length: 814, dtype: object>